
* {
  box-sizing: border-box;
}

#fullSchedule {
  width: 600px;
  height: 500px;
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#weekHolder {
  flex: 1;
  display: flex;
  background-color: #CFCACE;
}
#weekHolder > div {
  flex: 1;
  border: 1px black solid;
  background-color: #CFCACE;
}

.day {
  position: relative;
}

.lesson {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  position: absolute;

  padding-left: 3px;
  text-wrap:break-word;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: inherit;
}
.timeIndicator {
  background-color: lightgray;
  font-size: 8px;
  position: absolute;
  transform: translate(0px, -50%);
  z-index: 1;
  color: black;
}
.roomIndicator {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 4px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: inherit;
}

.dayName {
  text-align: center;
  border-bottom: solid 1px black;
  background-color: white;
  padding: 5px;
  font-size: smaller;
  height: 30px;
}

.timeline {
  width: 40px;
  border: 1px black solid;
  border-top: unset;

  flex-direction: column;
  margin-top: 30px;
  position: relative;
}
.timelineEntry {
  border-top: 1px black solid;
  text-align: center;

  position: absolute;
  width: 100%;
}

@media screen and (min-width: 800px) {

  .dayName {
    font-size: normal;
  }
  .timeIndicator {
    font-size: xx-small;
  }
}